

.img-ori-parent.big{
    /*width:calc(500px + 90px);
    height: calc(500px + 200px);*/
    width:calc(200px + 40px);
    height: calc(200px + 100px);
}

.img-ori-parent.big::after{
    /*font-size:50pt;
    line-height:50pt;*/
    font-size:20pt;
    line-height:20pt;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-fonction: ease;
}


.img-ori-parent.big.anim{
    animation: retrici-parent;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

article .article-content .img-ori-parent.big.anim img: .img ori{
    animation: retrici-img;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.img-ori-parent.big.anim::after{
    animation: retrici-after;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.img-ori-parent{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width:calc(200px + 40px);
    height: calc(200px + 100px);
    background:white;
    z-index: 10;
    box-shadow       : 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    transition-property: all;
    transition-duration: 2s;
    transition-timing-fonction: ease;
}

article .article-content img.img-ori{
    
    position:absolute;
    top:20px;
    left:20px;
    padding-top: 0;
    width:200px;
    height:200px;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow       : 0px 0px 5px 0px rgba(0, 0, 0, 1.5) inset;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-fonction: ease;
}

.img-ori-parent::after{
    content:attr(data-author);
    position: absolute;
    width:100%;
    text-align:center;
    bottom: 15pt;
    left: 0;
    font-size:20pt;
    line-height:20pt;
    font-family:"Roboto","Helvetica","Arial",sans-serif;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-fonction: linear;
}

@keyframes retrici-parent{
    from{
        width:calc(200px + 40px);
        height: calc(200px + 100px);
    }
    to{
        width:calc(100px + 20px);
        height: calc(100px + 500px);
    }
}

@keyframes retrici-img{
    from{
        top:20px;
        left:20px;
        width:200px;
        height:200px;
    }
    to{
        top:10px;
        left:10px;
        width:100px;
        height:100px;
    }
}

@keyframes retreci-after{
    from{
        font-size:20pt;
        line-height:20pt;
    }
    to{
        font-size:10pt;
        line-height:10pt;
    }
}

#parent-flash, #parent-negatif{
    position: relative;
    margin:auto;
    width: 500px;
    height: 500px;
    background: grey;
}

#flash-effect{
    position:absolute;    
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width:500px;
    height:500px;
    background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 80%);
    opacity:0;
}

#flash-effect.flash{
    animation: flash;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}



@keyframes flash {
    0% {opacity:1;}
    33% {opacity: 0}
    100% {opacity:0;}
}
