<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://gdgnantes.com" target="_blank" title="GDG Nantes">GDG Nantes</a></li>
      <li><a href="http://www.nantes-wit.fr" target="_blank" title="Nantes Wit">Nantes Wit</a></li>
      <li><a href="http://www.devoxx4kids.org/france/" target="_blank" title="Devoxx4Kids">Devoxx4Kids</a></li>
      <li><a href="https://nantescodinggouters.wordpress.com/" target="_blank" title="Coding Goûters">Coding Goûters Nantais</a></li>
      <li><a href="http://blog.binomed.fr/binomed_docs" target="_blank" title="JefBinomed slides">Mes slides</a></li>
    </ul>
</div>
