// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

table.binomed_table{
	border-color: #000000;
	border-width: 1px; 
	border-style: solid; 
	border-spacing: 0px;
	width:100%;
}

table.binomed_table td { 
	border-color: #000000;
	border-width: 1px; 
	border-style: solid; 
	border-spacing: 0px;
}